<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smock</title>

    <link href="{{ROOT_URL}}/assets/css/rollup.css" rel="stylesheet">
    
    
    
</head>

	<body id="landing">

		
		<div class="section video splash">

			<div class="container">

				<div class="header">

					<div id="logo"></div>		

					<p id="signin">
						<span class="hide_on_mobile">Have an account?<br></span>
						<a href="https://slack.com/signin" id="signin_link">Sign In</a>
					</p>

				</div>
		
				<h1>“So yeah, we tried Slack ...”</h1>

				<p class="video_tagline hide_on_mobile">The Sandwich Video team tried Slack. Turns out it really <em style="margin-right: 0.15rem;">did</em> change the way they communicate.</p>
				<p class="video_tagline show_on_mobile">A love letter from Sandwich Video:</p>

									<img id="video_thumb" src="./Slack  Be less busy-index_files/landing_video_thumb_@2x.png" srcset="https://slack.global.ssl.fastly.net/23491/img/landing_video_thumb.png 1x, https://slack.global.ssl.fastly.net/23491/img/landing_video_thumb_@2x.png 2x">
				
			</div>

			<div id="video_form">
				<p>Slack is a platform for team communication: everything in one place, instantly searchable, available wherever you go.</p>
				<input id="form_overlay_btn" class="show_on_mobile" type="submit" value="Sign up for Free">
				<div id="form_overlay" class="show_on_mobile">
					<div id="logo"></div>
					<a id="form_overlay_cancel">Cancel</a>
					<div class="landing form section"><a name="signup"></a>

	<p class="show_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

	<form action="{{ROOT_URL}}/go/launch#signup" method="post" novalidate="">
		<input type="hidden" name="ref" value="">
		<input type="hidden" name="crumb" value="s-1408876482-90d77f2350-☃">

						
		<input type="hidden" name="done1" value="1">

		<input id="email" type="email" name="email" placeholder="Email Address" value="">
		<input id="company" type="text" name="company" placeholder="Company Name" value="">

		<input type="submit" value="Sign up for Free">

	</form>
	
	<p class="hide_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

</div>					<p class="subdued">After you sign up, we'll send you an e-mail with a link to create your team.</p>
				</div>
				<div class="hide_on_mobile">
					<div class="landing form section"><a name="signup"></a>

	<p class="show_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

	<form action="{{ROOT_URL}}/go/launch#signup" method="post" novalidate="">
		<input type="hidden" name="ref" value="">
		<input type="hidden" name="crumb" value="s-1408876482-90d77f2350-☃">

						
		<input type="hidden" name="done1" value="1">

		<input id="email" type="email" name="email" placeholder="Email Address" value="">
		<input id="company" type="text" name="company" placeholder="Company Name" value="">

		<input type="submit" value="Sign up for Free">

	</form>
	
	<p class="hide_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

</div>				</div>				
			</div>

		</div>

				
		<a href="https://slack.com/is" id="tour_link">
			<div class="section full colored align-center double-patterned">
				<div class="container">
					<p class="no_bottom_margin">Learn what Slack can do for you</p>
					<h1>Take the Tour <i class="fa fa-arrow-circle-right"></i></h1>
					<p>Screenshots, feature descriptions, and more</p>
				</div>
			</div>
		</a>
		
		<div class="section full" id="love">
			<div class="container align-center">
				<h3 class="bottom_margin" style="width: 75%;">“I am basically in love with Slack. It took us less than 24 hours to get everyone on board (as you know, people are resistant to change), and it is amazing.”</h3>
				<p><strong>Tony Conrad</strong>, Founder, <a href="https://about.me/" class="bold">About.me</a></p>
			
				<h3 id="love_link"><a href="https://twitter.com/SlackHQ/timelines/402603838554644480">See what else <u>people are saying</u> about Slack</a></h3>
			</div>
		</div>
	
		<div class="section full colored sky_blue_bg align-center double-patterned">
			<div class="container">
				<p class="no_bottom_margin">Slack works with the services that your team already uses</p>
				<h2 class="top_margin bottom_margin"><a href="https://slack.com/integrations">See our full list of integrations &nbsp;<i class="fa fa-arrow-circle-right"></i></a></h2>
			</div>
		</div>

		<div class="section footer">
	
			<div class="container">

				<div class="footer_logo_wrapper">
					<div id="footer_logo"></div>
				</div>
		
				<h2 class="align-center">We’re on a mission to make your working life simpler, more pleasant and more productive.</h2>
		
				<div class="landing form section"><a name="signup"></a>

	<p class="show_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

	<form action="{{ROOT_URL}}/go/launch#signup" method="post" novalidate="">
		<input type="hidden" name="ref" value="">
		<input type="hidden" name="crumb" value="s-1408876482-90d77f2350-☃">

						
		<input type="hidden" name="done1" value="1">

		<input id="email" type="email" name="email" placeholder="Email Address" value="">
		<input id="company" type="text" name="company" placeholder="Company Name" value="">

		<input type="submit" value="Sign up for Free">

	</form>
	
	<p class="hide_on_mobile">		
					Slack is free to use for as long as you want and with an unlimited number of people.
				
	</p>

</div>
				<p class="footer_links align-center">
					Made by Slack Technologies, Inc. in San Francisco &nbsp; •					<a href="https://slack.com/jobs" class="hiring_link">We’re hiring!</a> • 
					<a href="http://slackatwork.com/" target="_blank">Slack at Work</a><br>
					<a href="https://api.slack.com/">API</a> •
					<a href="http://status.slack.com/">Status</a> •
					<a href="https://slack.com/pricing">Pricing</a> •
					<a href="https://slack.com/integrations">Integrations</a> •					<a href="https://slack.com/terms-of-service">Terms of Service</a> •
					<a href="https://slack.com/privacy-policy">Privacy Policy</a> •
					<a href="https://slack.com/security">Security</a>
					<br>
					Twitter:<a href="http://twitter.com/slackhq">@slackhq</a> •
					<a href="https://slack.com/help/contact">Contact Us</a> •
					&nbsp;&nbsp;Press inquiries:<a href="mailto:pr@slack.com">pr@slack.com</a>
			
				</p>

			</div>
	
		</div>
    <!-- Core Scripts - Include with every page -->

						
</body></html>
