<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smock</title>

    <link href="{{ROOT_URL}}/assets/bootstrap-3.2.0/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ROOT_URL}}/assets/css/cover.css" rel="stylesheet" type="text/css">
    
  </head>

<body class="padded " ondragover="return false">

	
			
	
	<div id="slack_header">
		<div class="container">

			<div style="float: right; margin-top: -32px">
						<a class="btn btn-outline" href="https://slack.com/signin">Sign in</a>
				</div>

			<a href="/"><img style="width: 180px; height: 54px;" src="https://slack.global.ssl.fastly.net/22564/img/slack_logo.png"></a>
			<hr>
		</div>
	</div>
			
		
	
<div class="container">

	<h1>Password Reset</h1>

	<p>Enter your registered email address for the <strong>Xinnet</strong> team and we will send you a reset link.</p>

				
	<form accept-encoding="UTF-8" method="post" action="/forgot">
		<input type="hidden" value="1" name="remind">

		<p>
			<label for="email">Email Address</label>
			<input type="email" value="" size="40" name="email">
		</p>

		<p class="indented"><input type="submit" value="Reset my Password" class="btn btn-primary"></p>

	</form>
</div>

	<div class="clear-both"></div>

<div id="footer">		
	<span class="float-right">
						<a href="https://api.slack.com/">API</a>		<a href="/pricing">Pricing</a>				<a target="_blank" href="http://slackatwork.com">Slack at Work</a><br>		<a href="/terms-of-service">Terms of Service</a>
		<a href="/privacy-policy">Privacy Policy</a>
		<a href="/security">Security</a>
		<a href="/help/contact">Contact</a>
		<a href="http://www.tinyspeck.com"><nobr>Slack Technologies, Inc</nobr></a>
			</span>
</div>





<!-- output_js "core" -->
<script crossorigin="anonymous" src="https://slack.global.ssl.fastly.net/22159/js/libs_jquery-2.1.1_1405531008.https.gz.js" type="text/javascript"></script>
<script crossorigin="anonymous" src="https://slack.global.ssl.fastly.net/10860/js/libs_flash_detect_1381167216.https.gz.js" type="text/javascript"></script>
<script crossorigin="anonymous" src="https://slack.global.ssl.fastly.net/22507/js/libs_bootstrap_1406132967.https.gz.js" type="text/javascript"></script>

<!-- output_js "secondary" -->

<!-- output_js "regular" -->




<!-- slack-www506 / 2014-08-30 07:45:02 / v24600 -->


</body>
</html>