.helvetica{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
.lato{font-family:'Lato',sans-serif;font-weight:400;-webkit-font-smoothing:antialiased}
.lato_black{font-family:'Lato',sans-serif;font-weight:900}
.lato_bold{font-family:'Lato',sans-serif;font-weight:700}
.lato_regular{font-family:'Lato',sans-serif;font-weight:500}
.monospace{font-family:"Monaco","Menlo","Consolas","Courier New",monospace !important}
@-webkit-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@-moz-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@-o-keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
@keyframes progress_bar{from{background-position:0 0}
to{background-position:-56px 0}
}
.burnt_violet{color:#4d394b !important}
.burnt_violet_bg{background-color:#4d394b !important}
.ocean_teal{color:#4c9689 !important}
.ocean_teal_bg{background-color:#4c9689 !important}
.havana_blue{color:#2a80b9 !important}
.havana_blue_bg{background-color:#2a80b9 !important}
.pale_blue{color:#f1f7fa !important}
.pale_blue_bg{background-color:#f1f7fa !important}
.candy_red{color:#eb4d5c !important}
.candy_red_bg{background-color:#eb4d5c !important}
.indifferent_grey{color:#555459 !important}
.indifferent_grey_bg{background-color:#555459 !important}
.severe_grey{color:#3d3c40 !important}
.severe_grey_bg{background-color:#3d3c40 !important}
.dull_grey{color:#8b898f !important}
.dull_grey_bg{background-color:#8b898f !important}
.subtle_silver{color:#9e9ea6 !important}
.subtle_silver_bg{background-color:#9e9ea6 !important}
.cloud_silver{color:#babbbf !important}
.cloud_silver_bg{background-color:#babbbf !important}
.sky_blue{color:#439fe0 !important}
.sky_blue_bg{background-color:#439fe0 !important}
.slate_blue{color:#3d4b5b !important}
.slate_blue_bg{background-color:#3d4b5b !important}
.muddy_lilac{color:#937e91 !important}
.muddy_lilac_bg{background-color:#937e91 !important}
.moscow_red{color:#d00000 !important}
.moscow_red_bg{background-color:#d00000 !important}
.moscow_red_dark{color:#870000 !important}
.moscow_red_dark_bg{background-color:#870000 !important}
.mustard_yellow{color:#daa038 !important}
.mustard_yellow_bg{background-color:#daa038 !important}
.kelly_green{color:#36a64f !important}
.kelly_green_dark{color:#257337 !important}
.kelly_green_bg{background-color:#36a64f !important}
.seafoam_green{color:#2ab27b !important}
.seafoam_green_bg{background-color:#2ab27b !important}
.star_yellow{color:#fc0 !important}
.star_yellow_bg{background-color:#fc0 !important}
.highlight_yellow_bg{background-color:#fffce0 !important}
.dropbox_blue{color:#007ee5 !important}
.dropbox_blue_bg{background-color:#007ee5 !important}
.twitter_blue{color:#55acee !important}
.twitter_blue_bg{background-color:#55acee !important}
.warm_white{color:#fbfaf8 !important}
.warm_white_bg{background-color:#fbfaf8 !important}
.cloud_white{color:#f2f2f5 !important}
.cloud_white_bg{background-color:#f2f2f5 !important}
.btn{background:#2a80b9;color:white !important;text-shadow:0 1px rgba(0,0,0,0.2);-webkit-font-smoothing:antialiased;font-family:'Lato',sans-serif;font-size:1rem;line-height:1.2rem;font-weight:900;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none;cursor:pointer;border:0;-webkit-border-radius:.25rem;-moz-border-radius:.25rem;border-radius:.25rem;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;vertical-align:bottom;white-space:nowrap;-webkit-transitionDISABLED:background .15s ease-out;-moz-transitionDISABLED:background .15s ease-out;-o-transitionDISABLED:background .15s ease-out;transitionDISABLED:background .15s ease-out}
.btn.padded{padding-left:4rem;padding-right:4rem}
.btn:hover,.btn.hover,.btn:focus{background:#439fe0;color:white;outline:0;text-decoration:none}
.btn:active,.btn.active{background:#439fe0;color:white;-webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,0.25);-moz-box-shadow:inset 0 2px 1px rgba(0,0,0,0.25);box-shadow:inset 0 2px 1px rgba(0,0,0,0.25)}
.btn.active,.btn-group.open .btn.dropdown-toggle,.btn-group.open .btn.dropdown-toggle:hover{background:#244c73;color:white;-webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,0.25);-moz-box-shadow:inset 0 2px 1px rgba(0,0,0,0.25);box-shadow:inset 0 2px 1px rgba(0,0,0,0.25)}
.btn-outline{background:none !important;border:2px solid #c2c2c2;color:#9e9ea6 !important;font-weight:700;text-shadow:none;-webkit-transitionDISABLED:color .1s,border-color .1s,background .1s .2s ease-out;-moz-transitionDISABLED:color .1s,border-color .1s,background .1s .2s ease-out;-o-transitionDISABLED:color .1s,border-color .1s,background .1s .2s ease-out;transitionDISABLED:color .1s,border-color .1s,background .1s .2s ease-out;-webkit-transitionDISABLED:color .1s,border-color .1s,background .1s;-moz-transitionDISABLED:color .1s,border-color .1s,background .1s;-o-transitionDISABLED:color .1s,border-color .1s,background .1s;transitionDISABLED:color .1s,border-color .1s,background .1s}
.btn-outline:hover,.btn-outline.hover{border:2px solid #2a80b9;color:#2a80b9 !important}
.btn-outline:active{border:2px solid #439fe0;color:#439fe0 !important;margin-top:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-outline.active{border:2px solid #9e9ea6;color:#666 !important;margin-top:0;font-weight:900;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-group>.btn-outline{border-width:1px}
.btn-group>.btn-outline+.btn-outline:hover,.btn-group>.btn-outline+.btn-outline:active,.btn-group>.btn-outline+.btn-outline.active{margin-left:-2px}
.btn-group>.btn-outline:active,.btn-group>.btn-outline.active{z-index:3}
.btn.btn-outline.active,.btn.btn-outline:hover{border-width:2px}
.btn.btn-outline.btn-warning:hover{border-color:#daa038;color:#daa038 !important}
.btn.btn-outline.btn-danger:hover{border-color:#d00000;color:#d00000 !important}
.btn.btn-outline.disabled,.btn.btn-outline.disabled:hover{border:2px solid #babbbf;color:#9e9ea6 !important;background:white !important;-moz-opacity:.5;-khtml-opacity:.5;-webkit-opacity:.5;opacity:.5;-ms-filter:alpha(opacity=50);filter:alpha(opacity=50)}
.btn-outline.white{border:2px solid white;color:white !important}
.btn-outline.white:hover,.btn-outline.white:active{border-color:white;color:#2a80b9 !important;text-decoration:none;background:white !important}
.btn-link{color:#9e9ea6;font-size:13px;font-weight:900;display:inline-block;text-transform:uppercase;font-family:'Lato',sans-serif;-webkit-transitionDISABLED:color .1s ease-out;-moz-transitionDISABLED:color .1s ease-out;-o-transitionDISABLED:color .1s ease-out;transitionDISABLED:color .1s ease-out}
.btn-link:hover{color:#2a80b9}
.btn.disabled,.btn.disabled:hover,.btn.disabled:active,.btn:disabled,.btn:disabled:hover,.btn:disabled:active{background-color:#9e9ea6 !important;-moz-opacity:.35;-khtml-opacity:.35;-webkit-opacity:.35;opacity:.35;-ms-filter:alpha(opacity=35);filter:alpha(opacity=35);-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;pointer-events:none}
.btn{padding:7px 14px 8px;font-size:15px}
.btn-mini{padding:2px 8px;font-size:10px;line-height:1rem;text-transform:uppercase}
.btn-small{padding:5px 12px 6px;font-size:15px}
.btn-large{padding:11px 22px 13px;font-size:20px}
.btn.btn-outline{padding:5px 12px 6px}
.btn.btn-mini.btn-outline{padding:0 6px}
.btn.btn-small.btn-outline{padding:4px 10px}
.btn.btn-large.btn-outline{padding:9px 20px 13px}
.btn-primary{background:#2a80b9}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background:#439fe0}
.btn-success{background:#36a64f}
.btn-success:hover,.btn-success:focus,.btn-success:active{background:#3ebd5a}
.btn-info{background:#eb4d5c}
.btn-info:hover,.btn-info:focus,.btn-info:active{background:#ff4d5e}
.btn-warning{background:#daa038}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active{background:#e8ac3c}
.btn-danger{background:#d00000}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active{background:#e60000}
.btn-twitter{background:#55acee}
.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active{background:#5cb8ff}
.btn-facebook{background:#3b5998}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active{background:#4b70bf}
.btn-group .btn:hover:not(.active),.btn-group .btn:active:not(.active){-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25);box-shadow:inset 0 1px 1px rgba(255,255,255,0.25)}
.btn-group>.btn-small{font-size:13px}
.btn.dropdown-toggle .caret{border-top-color:white}